
/*BEGIN Responsive CSS Portfolio*/

html{
  height: 100%;
  position: relative;
}

 header{
 	   border-top: 1px solid #cccccc;
     background-color: white; 
 }
   
   .name,
   .heading-portfolio {
   	   font-family: 'Georgia', Times, "Times New Roman",serif;
       font-weight: bold;
       font-size: 2em;
   }

   .heading-connect {
 	     font-family: 'Georgia', Times, "Times New Roman";
       font-weight: bold;
       font-size: 1.5em;
   }


   body{
    	background-image: url(../images/noise_lines.png);

   }


   .name {
      background-color: #4aaaa5;
      color: white;
      font-size: 27px;
      padding: 28px;
      margin-top: 0;
      text-align: center;
      float: left;
      margin-left: 100px ; 
        
    }

 .name h3:hover {
    background-color: #6edadf !important;
 }


    .display {
    	 text-align: right;
    	 padding: 30px 20px 52px 0px;
       font-size: 17px;
       max-width: 100%;
       height: 60px; 
       max-width: 100%;
       background-color: white;
       border-top: 1px solid #cccccc;
       border-bottom: 2px solid #cccccc;
    }


    .head-About,
    .head-Portfolio{
         border-right: 1px solid #cccccc;
	       margin:10px 10px 10px 0px;
	       color: #777777;
         padding-right: 20px;
    }

   .head-Contact{
       	color: #777777;
      	margin-right: 198px;

    }




   .container{
       width: 70%;
       float:left;
    }

   

    #main-portfolio {
      	height: 1140px;
      	width: 650px;
      	background-color: white;
      	display: inline-block;
      	border: 1px solid #dddddd;
        padding: 1px;
        margin: 25px 0px 35px 88px;
    }
  


   .heading-portfolio {
        color: #4aaaa5; 
       	background-color:white;
        margin: 0px 30px 0px 30px; 
        padding: 30px 30px 30px 3px;
        border-bottom: 3px solid #dddddd;
        font-size: 28px;
        max-width: 900px;
      	min-width: 100px;
   }
   


   .body-portfolio {
	     color:#777777;
	     background-color: white;
	     width: 95%;
	     margin: 20px 0px 10px 30px;
	     align-content: center;
       padding: 2px 1px 1px 1px;
       font-family: 'Georgia', Times, "Times New Roman",serif;
       
       font-size:13px;
   }

   img{
     width:275px;
     height: 198px;
   }

   img:hover{
      outline: 3px solid #4aaaa5;
      outline-offset: 1px;
}
  

    .Hangman {
        margin: 15px 30px 30px 0;
   }

   .SignHangman {
      background-color: #4aaaa5;
      color: white;
      font-size: 20px;
      padding: 15px 93.5px;
      text-align: center;
      position: absolute;
      margin-top: -97px;

   }



   .TriviaGame {
         margin: 25px 0 30px 0;
      }

  .SignTriviaGame{
      background-color: #4aaaa5;
      color: white;
      font-size: 20px;
      padding: 15px 83px;
      text-align: center;
      position: absolute;
      margin-top: -97px;

  }

  .RockPaperScissors{
     margin-top: 25px;
     margin-bottom: 0;

  }

  .SignRockPScissors{
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        padding: 15px 65px;
        text-align: center;
        position: absolute;
        margin-top: -68px;

  }

  .RPGgame{
    position: absolute;
    margin-left: 313px;
    margin-top: -704px;

  }

 .SignRPGgame{
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        padding: 15px 89px;
        text-align: center;
        position: absolute;
        margin-top: -572px;
        margin-left: 313px;

 }

  .RutgersIw {
    margin: 17px 0 30px 0;
    position: absolute;
    margin-left: 313px;
    margin-top: -450px;
}
  .SignRutgersIw  {
      background-color: #4aaaa5;
      color: white;
      font-size: 20px;
      padding: 15px 48px;
      text-align: center;
      position: absolute;
      margin-top: -320px;
      margin-left: 313px;
    }


     .LiriBot {
      margin: 17px 0 30px 0;
      position: absolute;
      margin-left: 313px;
      margin-top: -198px;
     }

  .SignLiriBot  {
      background-color: #4aaaa5;
      color: white;
      font-size: 20px;
      padding: 15px 103.5px;
      text-align: center;
      position: absolute;
      margin-top: -68px;
      margin-left: 313px;
    }


       .Bamazon {
         margin: 50px 0 30px 0;
      }

  .SignBamazon {
      background-color: #4aaaa5;
      color: white;
      font-size: 20px;
      padding: 15px 96.4px;
      text-align: center;
      position: absolute;
      margin-top: -97px;

  }

   
  
   .connect {
	   background-color: white;
	   width: 270px;
 	   height: 200px;
	   border: 1px solid #dddddd;
	   margin: 25px 90px 20px 0px;
     padding: 13px 10px ;
 	   float:right;
 }

.heading-connect {
	   color: #4aaaa5; 
 	   border-bottom: 2px solid #dddddd; 
     text-align: center;
     margin: 10px;
     padding-bottom: 13px;
}


.Github{
    margin-left: 13px;
    margin-top: 10px;
    width: 73px;
    height: 73px;
} 



 .LinkedIn{
     margin-top: 10px;
     width: 73px;
     height: 73px;
 }
 

 .StackOverflow {
      margin-top: 10px;
      width: 64px;
      height: 64px;
      margin-left: 3px;
 }
/*Sticky footer----------------------------------*/
body {
    margin: 0; 
}

.content {
    min-height: calc(100vh - 20px);
}



  .footer p {
       background-color: #666666;
       color:#cccccc;
       text-align: center;
       align-content: center;
       width: 100%;
       padding: 30px;
       border-top: 7px solid #4aaaa5;
       margin:0px;
       font-size: 12px;
       clear:both;
       font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
  }

  .footer {
     height: 15px;
  }


  
  



  html {
  	box-sizing: border-box;
  }
 *, *:before, *:after {
 	box-sizing: inherit;
 }


        /* STARTS RESPONSIVE @media screen 980PX */

                       
        @media screen and (max-width: 980px){

               
               header{
                   
                   position: static;
               }


                .container{
                     clear: both;
                  }

         
               .name {
             
                  font-size: 20px;
                  padding: 23px 30px;
                  margin-left: 90px;
              
                  text-align: center; 
                    
                  }


               .display {
               
                   padding: 32px 20px 35px 0px;
                   font-size: 15px;
                  
                }

                .head-Portfolio,
                .head-About {
                
                      margin-right: 25px;
                      padding-right: 30px;
                      border-right: 0.2px solid #cccccc;
                      margin-left: 5px;
                  }

             
                .head-Contact{
                
                    margin-right: 50px;
                    margin-left: 15px; 
                }


               .heading-portfolio {
                
                     border-bottom: 2px solid #dddddd;
                
                }
                
                .body-portfolio{
                  width: 93%;
                }

                #main-portfolio {
                    height: 2200px;
                    width: 500px;
                    margin: 15px 0px 25px 70px;
                
                }
         
                img{
                   width:439px;
                   height: 250px;
                 }
                    

                    



              .RPGgame{
                position: static;
                margin-left: 0px;
                margin-top: 35px;
                margin-bottom: 0;

              }

             .SignRPGgame{
                   
                    font-size: 20px;
                    padding: 15px 171px;
                    margin-top: -65px;
                    margin-left: 0px;


             }

             .RutgersIw {
               position: static;
                margin-left: 0px;
                margin-top: 35px;
                margin-bottom: 0;


             }

             .SignRutgersIw  {
                
                font-size: 20px;
                padding: 15px 130px;
                margin-top: -65px;
                margin-left: 0px;
              }

               .LiriBot {
               position: static;
                margin-left: 0px;
                margin-top: 35px;
                margin-bottom: 0;


             }

             .SignLiriBot  {
                
                font-size: 20px;
                padding: 15px 185.5px;
                margin-top: -65px;
                margin-left: 0px;
              }


                .SignBamazon {
                    background-color: #4aaaa5;
                    color: white;
                    font-size: 20px;
                    padding: 15px 178.4px;
                    text-align: center;
                    position: absolute;
                    margin-top: -97px;

                }


               .SignRockPScissors{
                   
                    font-size: 20px;
                    padding: 15px 147px;
                    margin-top: -65px;

               }


                .SignTriviaGame{
                    
                    font-size: 20px;
                    padding: 15px 165px;
                    margin-top: -97px;

                }

                 .Hangman {
                      margin-right:0px;
                 }

                 .SignHangman {
                
                      font-size: 20px;
                      padding: 15px 175.5px;
                      margin-top: -95px;


                  }


               .connect {
             
                   width: 259px;
                   height: 200px;
                   float: right;
                   position: absolute;
                   margin-left: 600px;
                   margin-top: -2224px; 
                }


                .heading-connect {
            
                       border-bottom: 1px solid #dddddd; 
                       text-align: left;

                 }

                .footer p {
                     /*clear: both;*/
                     width: 980px;
                     padding: 20px;
                        
                 }

                /* .content {
                      min-height: calc(2000vh - 20px);
                  }*/


        }
               
          /* Ends RESPONSIVE @media screen 980PX */


       /* STARTS RESPONSIVE @media screen 768PX */

    @media screen and (max-width: 768px){

         
         header{
             
             position: static;
         }

         .container{
               clear: both;
               width: 768px;
               height: 1210px;
         }

           .heading-portfolio {
               
               font-size: 18px;
           }


          

         
           .name {
             
              font-size: 20px;
              margin-bottom: 0;
              padding: 24px;
              text-align: center;
              float: left;
              margin-left: 14px ; 
                
            }



            .display {
              
               padding: 20px 10px 10px 10px;
               font-size: 15px;
               height: 70px; 
               width: 768px;
               max-width:100%;
              
            }

           
            
           .head-Contact {
                
                margin-right: 5px;

            }  

           

           #main-portfolio {
                height: 1200px;
                width: 735px;
                margin: 35px 0px 35px 0px;
                
            }

            img{
             width:318px;
             height: 220px;
             }
          

           .heading-portfolio {
                
                border-bottom: 2px solid #dddddd;
                font-size: 20px;
               
           }
             .Hangman {
                margin: 10px 30px 10px 0;
           }



             .SignHangman {
              
                  font-size: 15px;
                  padding: 10px 126px;
                  margin-top: -60px;
                  
               }

             .SignTriviaGame{
              
                  font-size: 15px;
                  padding: 10px 118px;
                  margin-top: -78px;

              }

             .RockPaperScissors{
                  margin-top: 10px;
               }


             .SignRockPScissors{
                
                font-size: 15px;
                padding: 10px 105px;
                margin-top: -50px;
              }

              .RPGgame{
            
                  margin-left: 351px;
                  margin-top: -1267px;

                }

              .SignRPGgame{
               
                    font-size: 15px;
                    padding: 10px 122.5px;
                    margin-top: -583px;
                    margin-left: 351px;
              }

              .RutgersIw {
                 
                  margin-left: 350px;
                  margin-top: -793px;
               }

            .SignRutgersIw  {
              
                  font-size: 15px;
                  padding: 10px 92px;
                  text-align: center;
                  margin-top: -345px;
                  margin-left: 350px;
             }

               .LiriBot {
                 
                  margin-left: 350px;
                  margin-top: -315px;
               }

            .SignLiriBot  {
              
                  font-size: 15px;
                  padding: 10px 133.5px;
                  text-align: center;
                  margin-top: -105px;
                  margin-left: 350px;
             }

               .Bamazon{
                  margin-top: 0px;
               }

             .SignBamazon{
                
                font-size: 15px;
                padding: 10px 128px;
                margin-top: -79px;
              }

         
            .connect {
                 width: 735px; height: 200px;
                 margin: 5px 0px 36px 0px;
                
             }

              .heading-connect {
                    
                   text-align: left;
                   
              }

              .Github{
                 
                  width: 53px;
                  height: 53px;
              } 



               .LinkedIn{
                   
                   width: 53px;
                   height: 53px;
               }
               

               .StackOverflow {
                   
                    width: 45px;
                    height: 47px;
                    
               }




                .footer p {
                     
                     width: 768px;
                     padding: 25px;
                
                     
                }

                .footer {
                  position: absolute;
                  margin-top: 1520px;
                }

          

     } 

          /* ENDS RESPONSIVE @media screen 768PX */



        /* STARTS RESPONSIVE @media screen 640PX */

                       
        @media screen and (max-width: 640px){

               
               header{
                   
                   position: static;
               }

                      .container{
                     clear: both;
                     width: 640px;
                    
               }
         
               .name {
             
                  font-size: 20px;
                  padding: 23px 229px;
                  margin-left: 0px;
              
                  text-align: center; 
                    
                  }


               .display {
               
                   padding: 85px 80px 35px 0px;
                   font-size: 15px;
                  
                }

                .head-Portfolio,
                .head-About {
                
                      margin-right: 40px;
                      padding-right: 65px;
                      border-right: 0.2px solid #cccccc;
                      margin-left: 10px;
                  }

             
                .head-Contact{
                
                    margin-right: 30px;
                    margin-left: 40px; 
                }


               .heading-portfolio {
                
                     border-bottom: 2px solid #dddddd;
                
                }


                #main-portfolio {
                    height: 2435px;
                    width: 610px;
                    margin: 15px 0px 25px 0px;
                
                }
         
                img{
                   width:545px;
                   height: 300px;
                 }
                    

                    



              .RPGgame{
                position: static;
                margin-left: 0px;
                margin-top: 35px;
                margin-bottom: 0;

              }

             .SignRPGgame{
                   
                    font-size: 20px;
                    padding: 15px 224px;
                    margin-top: -65px;
                    margin-left: 0px;


             }

             .RutgersIw {
               position: static;
                margin-left: 0px;
                margin-top: 35px;
                margin-bottom: 0;


             }

             .SignRutgersIw  {
                
                font-size: 20px;
                padding: 15px 183px;
                margin-top: -65px;
                margin-left: 0px;
              }


             .LiriBot{
               position: static;
                margin-left: 0px;
                margin-top: 35px;
                margin-bottom: 0;


             }

             .SignLiriBot  {
                
                font-size: 20px;
                padding: 15px 238.5px;
                margin-top: -65px;
                margin-left: 0px;
              }


               .Bamazon{
               position: static;
                margin-left: 0px;
                margin-top: 35px;
                margin-bottom: 0;


             }

             .SignBamazon  {
                
                font-size: 20px;
                padding: 15px 231.2px;
                margin-top: -65px;
                margin-left: 0px;
              }

               .SignRockPScissors{
                   
                    font-size: 20px;
                    padding: 15px 200px;
                    margin-top: -65px;

               }


                .SignTriviaGame{
                    
                    font-size: 20px;
                    padding: 15px 218px;
                    margin-top: -97px;

                }

                 .SignHangman {
                
                      font-size: 20px;
                      padding: 15px 228.5px;
                      margin-top: -77px;

                  }


               .connect {
             
                   width: 610px;
                   height: 160px;
                   float: left;
                   margin: 0 auto;
                }


                .heading-connect {
            
                       border-bottom: 1px solid #dddddd; 
                       text-align: left;

                 }

                .footer p {
                     clear: both;
                     width: 640px;
                     padding: 20px;
                     position: absolute;
                     margin-top: 2360px;
                        
                 }


                 .footer {
                  position: absolute;
                  margin-top: 300px;
                }
                

        }
               
        /* Ends RESPONSIVE @media screen 640PX */


/*END Responsive CSS Portfolio*/









